#_ss_closebtn {
	float:right;
}

#_ss_header {
	width:100%;
}

#_ss_box {
	border: 1px solid grey;
	background: #FFF;
}

._ss_result, #_ss_footer { 
	padding: 1em;
}

#_ss_footer {
	background: #fbd7de;
}

#_ss_footer h3 {
	color: #ff335f;
}